.embla__dot {
  -webkit-appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
}

.embla__dots {
  z-index: 1;
  bottom: 1.6rem;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.embla__dot {
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.embla__dot:after {
  background: rgb(249, 249, 249);
  border-radius: 0.2rem;
  width: 100%;
  height: 0.3rem;
  content: '';
}

.embla__dot--selected:after {
  background: linear-gradient(45deg, rgb(47, 112, 193), rgb(116, 97, 195));
}
